<h1>Artists Using Scene</h1>
<% if current_user %>
        <button class="btn btn-lg btn-default btn-block"> <%=link_to 'Local Artists', local_artists_path %> </button>
        <% else %>
          <button class="btn btn-lg btn-default btn-block"> <%=link_to 'Sign Up To View Artists In Your Area'%> </button>
        <% end %>
<table class="table-striped table-condensed">
  <tr>
    <td></td>
    <td>Name</td>
    <td>Profile</td>
    <td>Art</td>
  </tr>

  <% @artists.each do |artist| %>

  <tr>
    <td> <%= link_to image_tag(artist.avatar), artist_path(artist) %> </td>
    <td> <%= artist.name %> </td>
    <td> <%= link_to("Profile", artist_path(artist)) %> </td>
    <td> <% if !artist.pieces.empty? %>
          <% sample_piece = artist.pieces.sample %>
          <%= link_to image_tag(sample_piece.img), artist_piece_path(sample_piece.artist_id, sample_piece) %></td>
        <% end %>
  </tr>
  <% end %>
</table>
