<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
$(document).ready(function(){
  initialize();
})
function initialize() {

  var mapProp = {
    center:new google.maps.LatLng(<%= current_user.latitude %>,<%= current_user.longitude %>),
    zoom:13,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

  <% @artists.each do |artist| %>
    var myLatlng = new google.maps.LatLng(<%= artist.latitude %>,<%= artist.longitude %>);
    var marker = new google.maps.Marker({
      position: myLatlng,
      clickable: true
})



  marker.setMap(map);
    <% end %>
    marker.addListener('click', function() {
    infowindow.open(map, marker);
  });
  var infowindow = new google.maps.InfoWindow({
    content: "HEY YOU CLICKED ME"
  })
}
</script>
<h1 class='c-t'>Local Artists</h1>
<div class='m0-a' id="googleMap" style="width:100%;height:500px;"></div>
<%= render 'artists' %>
