<h1><%= @artist.name %></h1>

<img src="<%= @artist.avatar %>">
<h3>Address: <%= @artist.address %></h3>
<h3>Bio: <%= @artist.bio %></h3>
<ul>Scenes
  <% @artist.pieces.each do |piece| %>
  <li><img src="<%= piece.img %>"></li>
  <% end %>
</ul>
<ul>Social Media
  <li><%= @artist.facebook %></li>
  <li><%= @artist.twitter %></li>
</ul>

<h3>Email: <%= @artist.email %></h3>

<% if current_user.id == @artist.id %>
  <%= link_to "edit", edit_artist_path %>
  <%= link_to "destroy", @artist, method: :delete %>
<% end %>
