<h1>Spaces#edit</h1>

<%= form_for [@organization,@space]  do |f| %>

  <%= f.label :img %>
  <%= f.text_field :img %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :guidelines %>
  <%= f.text_field :guidelines %>

  <%= f.submit %>

<% end %>