<h1>Spaces#new</h1>

<%= form_for @space, url: organization_spaces_path(@organization) do |f| %>

  <%= f.label :img %>
  <% f.text_field :img %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :guidelines %>
  <%= f.text_field :guidelines %>

  <%= f.submit %>

<% end %>