<h1>Spaces#show</h1>
 <h1> <%= @space.title %> <h1>

  <div class="space-body">
      <p> Scene-id: <%= @space.id %> </p>
      <p> Scene-title:  <%=  @space.title %> </p>
      <img src=" <%=  @space.img %> ">
      <p> Scene-guidelines: <%=  @space.guidelines %></p>
  </div>

