
<div class="r-this span-4-d ml-10" >
  <button class="x-btn">
    <img src="https://cdn3.iconfinder.com/data/icons/interface/100/close_button_1-512.png" height=20, width=20>
  </button>


<h2><%= piece.title %></h2>

<div class="debugx">
  <a href="<%= piece.img %>" data-lightbox="ex-1">
    <img src="<%= piece.img %>" alt="Artist's Piece.img">
  </a>
</div>

<p class="debugx"><%= piece.description %></p>

  <div class="debugx hov">
    <img src="http://www.wrapchic.in/images/offer.png" height=15, width=15>
    <% piece.tag_list.each do |tag| %>
      <button class="ft-sm"><%= link_to tag, tag_path(tag), class: "gray" %></button>
    <% end %>
  </div>
<h3 class="debugx"><strong>Artist: <%= link_to artist.name, artist_path(@artist) %></strong></h3>

</div>
