<div class="r-this span-12-d ml-12" >

<div class="debugx pic">

    <button class="x-btn ml-23">
      <img src="https://cdn3.iconfinder.com/data/icons/interface/100/close_button_1-512.png" height=20, width=20>
    </button>

  <div class="debugx">
  <h2><%= piece.title %></h2>
    <a href="<%= piece.image.url %>" data-lightbox="ex-1">
      <img src="<%= piece.image.url(:medium) %>" alt="Artist's Piece.img">
    </a>
  </div>
  <br>

    <div class="debugx hov">
      <img src="http://www.wrapchic.in/images/offer.png" height=15, width=15>
      <% piece.tag_list.each do |tag| %>
        <button class="ft-sm"><%= link_to tag, tag_path(tag), class: "gray" %></button>
      <% end %>
    </div>
  <h3 class="debugx mb-4"><strong>Artist: <%= link_to artist.name, artist_path(@artist) %></strong></h3>

</div>


</div>

<!-- align this  -->
  <div class='r-this'>
    <div class="line span-10-d ml-"></div>
    <br>
    <div class="line span-10-d mb-4 ml-"></div>
  </div>
