<%= form_for ([user, picture]) do |f| %>
  <p>Image URL</p>
  <%= f.text_field :img %>

  <p>Title</p>
  <%= f.text_field :title %>

  <p>Description</p>
  <%= f.text_field :description %>

  <p><%= f.submit %></p>
<% end %>
