<script type="text/javascript">
  $(document).ready(function(){
      showPiece();
      zoomHover();
  })
</script>

<h1 class="debugx b-dbot mb-2">Pieces</h1>

<div class="debugx col span-1-d fix ml-4">
  <h3>Category</h3>
  <p><%= link_to "All", pieces_path %></p>
    <% @tags.each do |tag| %>
       <p><%= link_to tag, tag_path(tag) %></p>
    <% end %>
</div>


<div class="debugx col span-11-d">
  <div class="ml-25">
<div id="target"></div>

  <div class="allpics">
  <% @pieces.each do |piece| %>
  <% artist = Artist.find(piece.artist_id) %>

      <div class="debug fl-end m-1 viewport">
        <a class="pic" href="<%= artist_piece_path(piece.artist_id, piece) %>" >
          <span class="dark-background"> <%= piece.title %> <em>by <%= artist.name %></em></span>
          <img src="<%= piece.img %>" alt="Piece Pic" />
        </a>
      </div>

  <% end %>
  </div>


  </div>
</div>




