<h1>Pieces#index</h1>

<h2><%= @artist.name  %> Pieces</h2>

<% @pieces.each do |piece| %>
  <div>
    <div><%= link_to image_tag(piece.img), artist_piece_path(piece.artist_id, piece) %></div>
    <p>Title: <%= piece.title %></p>
    <p>Description: <%= piece.description %></p>
    <p>Tags: <%= piece.tag_list.join(" ") %></p>

  <% if session[:user_id] == @artist.id %>
    <button><%= link_to "Edit", edit_artist_piece_path(piece.artist_id, piece) %></button>
    <button><%= link_to "Remove", artist_piece_path(piece.artist_id, piece), method: :delete,data: { confirm: 'Are you sure?' } %></button>
  <% end %>
  </div>

<% end %>

