<h1>Pieces#show</h1>

<img src="<%= @piece.img %>" alt="Artist's Piece.img">

<p>Title: <%= @piece.title %></p>
<p>Description: </p>
<p><%= @piece.description %></p>

<!-- show tags -->

<p>Tags: <%= @piece.tag_list.join(" ") %></p>


<p>Piece by:</p>
<p><%= link_to @artist.name, artist_path(@artist) %></p>


<!-- current user stuff goes here  -->

<button><%= link_to "Edit", edit_artist_piece_path(@piece.artist_id, @piece) %></button>
<button><%= link_to "Remove", artist_piece_path(@piece.artist_id, @piece),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></button>



