<h1>Pieces#show</h1>

<div ng-app="ShowPiece" ng-controller="PieceCtrl as piece">
    <h1> {{piece.elmt.description}} </h1>
    <h1> {{testing}} </h1>

    <!-- grabbing @artist.name needs to be in qoutes -->
  <div ng-init="init('<%= @artist.name %>')">
    <p>{{artist.name}}</p>
  </div>



<img src="<%= @piece.img %>" alt="Artist's Piece.img">
<p>Title: <%= @piece.title %></p>
<p>Description: </p>
<p><%= @piece.description %></p>
<p><%= @piece.tag_list.join(" ") %></p>

<p>Piece by:</p>
<p><%= link_to @artist.name, artist_path(@artist) %></p>

  <% if session[:artist_id] == @artist.id %>
    <button><%= link_to "Edit", edit_artist_piece_path(@piece.artist_id, @piece) %></button>
    <button><%= link_to "Remove", artist_piece_path(@piece.artist_id, @piece), method: :delete,data: { confirm: 'Are you sure?' } %></button>
  <% end %>

</div>

