 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Video  -->
<div id="wistia_wdf369ilyi" class="wistia_embed bg" style="width:1500;height:940px;" data-video-width="1500" data-video-height="450">&nbsp;
</div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
<script>
wistiaEmbed = Wistia.embed("wdf369ilyi", {
  canonicalTitle: "SCENE",
  version: "v1",
  autoPlay: true,
  endVideoBehavior: "loop",
  volumeControl: false,
  chromeless: true,
  playbar: false,
  controlsVisibleOnLoad: false,
  volume: 0
});
</script>

<!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <!-- for the title -->
      <%= image_tag'scene_logo.png', :class => "logo"%>
      <a class="btn-home btn-black" href="<%= user_location_path%>" style="margin-bottom: 80px;">FIND LOCAL ARTISTS</a>
    </div>

    <h4 style="color:#E505D2; padding-top:40px; display:block; text-align: center; font-weight:bold;">See Featured Scenes</h4>

    <a href="#featured">
      <i class="fa fa-angle-double-down fa-5x" style="color:#E505D2; display:block; text-align: center;"></i>
    </a>

<div class="buffer" style="height: 150px;"></div>

<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12 mt--7" id="featured">
        <h1 class="page-header ta-cen " style="padding-bottom: 70px">Featured Scenes</h1>
    </div>
</div>
<!-- /.row -->

<script type="text/javascript">
  $(document).ready(function(){
      zoomHoverMed();
  })
</script>

  <!-- Featured Scenes Row -->
   <div class="ml-16 ">
       <% @scenes.each do |scene| %>
       <% organization = Organization.find(scene.organization_id) %>
       <% artist = Artist.find(scene.artist_id) %>

       <div class="mb-4"></div>
         <div class="img-portfolio viewport-m">
             <a href="/organizations/<%= organization.id %>">
                <span class="dark-background-m">
                <%= scene.title %>
                <em>by <%= artist.name %></em>
                </span>
                <img class="" src="<%= scene.image.url(:medium) %>" alt="scene.title">
             </a>
             <h3>
              <%= link_to organization.name, organization_path(organization) %>
             </h3>
         <p>Scene by: <%= link_to artist.name, artist_path(artist) %></p>
         </div>
       <% end %>
     </div>

<div class="col mb-12"></div>
