<!-- Show Pieces by Tag/Category -->
<script type="text/javascript">
  $(document).ready(function(){
      zoomHover();
  })
</script>

<h1 class="debugx b-dbot ta-cen mb-2 mt-2"><%= @tag %></h1>
<div class="line span-12-d mb-4"></div>

<div class="debugx col span-1-d ml-4 mt--2 d-inb">
  <h3>Category</h3>
    <p><%= link_to "All", pieces_path %></p>
    <% @tags.each do |tag| %>
       <p><%= link_to tag, tag_path(tag) %></p>
    <% end %>
</div>


<div class="debugx span-11-d mb-15">
  <div class="debugx ml-25">

  <div id="target"></div>

  <div class="allpics">
  <% @pieces.each do |piece| %>
  <% artist = Artist.find(piece.artist_id) %>
      <div class="debug fl-end m-1 viewport">
        <a class="pic" href="<%= piece.image.url %>" data-lightbox="ex-1">
          <span class="dark-background">
            <%= piece.title %>
            <em>by <%= artist.name %></em>
            <em><%= piece.tag_list.join(" ") %></em>
          </span>
          <img src="<%= piece.image.url(:thumb) %>" alt="Piece Pic" />
        </a>
      </div>
  <% end %>
  </div>
</div>


</div>
