    <!-- Page Content -->
    <div class="container">
    <div style="height:20px;"></div>
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>The Scene Team is a multi-cultured group of programmers with 5000+ hours of combined coding experience. Our goals were to come together,
                  and in less than 1 week build an app from the ground up that was stylish, enjoyable to use, that expanded our personal skillsets.
                </p>
            </div>
        </div>

        <!-- Team Members Row -->
          <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="cimg-200 img-circle img-center center-block" src="https://avatars0.githubusercontent.com/u/7241887?v=3&s=460" alt="">
                <h3>
                <a href="https://github.com/Thrashmandicoot"><%= image_tag 'github.png', :class => "twitter"%></a>
                Ashton</h3>
                <p>AUTO-MERGE WARLOCK, INSTAGRAM CASTAWAY, SEO DENIZEN</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="c-img200 img-circle img-center center-block" src="https://avatars2.githubusercontent.com/u/11875611?v=3&s=460" alt="">
                <h3><a href="https://github.com/atp1o2"><%= image_tag 'github.png' , :class => "twitter"%></a> Andrew
                </h3>
                <p>CSS BUFF, SOCIAL MEDIA MONKEY, ECOMMERCE WARLOCK. </p>

            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="c-img200 img-circle img-center center-block" src="/assets/alex.jpeg" alt="">
                <h3><a href="https://github.com/ajdlp"><%= image_tag 'github.png', :class => "twitter"%></a> Alex
                </h3>
                <p>DESTRUCTOR OF BOREDOM, PROGRAMMING KING, MEDIUM MIXOLOGIST. </p>

            </div>
            </div>
            <div class="row">
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="c-img200 img-circle img-center center-block" src="https://avatars2.githubusercontent.com/u/4967799?v=3&s=460" alt="">
                <h3><a href="https://github.com/ormaechea"><%= image_tag 'github.png', :class => "twitter"%></a> Andres
                </h3>
                <p>BRANDJACKING WONK, FREESTYLE RULE BREAKER, COSPLAY BIGSHOT .</p>

            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="c-img200 img-circle img-center center-block" src="https://avatars3.githubusercontent.com/u/10110127?v=3&s=460" alt="">
                <h3><a href="https://github.com/lporte"><%= image_tag 'github.png',:class => "twitter" %></a> Lauryn
                </h3>
                <p>SILICON VALLEY CURATOR, SCRAPER OF THE DATAS, CAT LOVER. </p>
            </div>
            </div>


        <hr>
