<h1><%= @organization.name %></h1>

<img src="<%= @organization.avatar %>">
<h3>Address: </h3>
<p><%= @organization.address %></p>
<p><%= @organization.bio %></p>

<h5>Email: <%= @organization.email %></h5>

<h3>Social Media</h3>
<ul>
  <li><%= @organization.facebook %></li>
  <li><%= @organization.twitter %></li>
</ul>

<h3>Available Scenes</h3>
<div>
  <% @spaces_sample = @organization.spaces.sample(3) %>
  <% @spaces_sample.each do |space| %>
    <div><%= link_to image_tag(space.img), organization_space_path( @organization,space) %></div>

  <% if session[:organization_id] == @organization.id %>
    <button><%= link_to "edit", [:edit, space.organization, space] %></button>
    <button><%= link_to "destroy", [space.organization, space], method: :delete, data: {confirm: 'Are you sure?'} %></button>
    <% end %>
  <% end %>
</div>
<button><%= link_to "New", new_organization_space_path(@organization) %></button>


<h3>--Completed Scenes--</h3>
<p>--Database not set up for this yet--</p>

<%= link_to "All of our Scenes", organization_spaces_path(@organization) %>
<% if session[:organization_id] == @organization.id %>
    <button><%= link_to "Edit Profile", edit_organization_path %></button>
    <button><%= link_to "Destroy Profile", @organization, method: :delete %></button>
  <% end %>
